.root {
    display: flex;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid red;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    transition: all .3s linear;    

    &:hover {
        color: white;
        background-color: red;
    }


}

.active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: red;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    transition: all .3s linear;    
}